@using MeowLearn.Data;
@using Microsoft.AspNetCore.Identity;
@model CategoryDetailsModel;

@{
    ViewData["Title"] = "Home";
}

@if(Model.CategoryItemsGroupByCategoryModels != null)
{
    <div class="text-center">
        <h1>Welcome to MeowLearn!</h1>
    </div>
    @if(Model.CategoryItemsGroupByCategoryModels.Count() > 0)
    {
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Your Courses</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                @foreach(var category in Model.CategoryItemsGroupByCategoryModels)
                {
                    <div class="card mt-2">
                        <h4 class="card-header card-main-title text-secondary bg-white"
                            data-toggle="collapse" 
                            data-target="#collapse_@category.Id" 
                            aria-expanded="false"
                            aria-controls="collapse_@category.Id"
                        >
                            @category.Name
                        </h4>
                        <div class="collapse"
                            id="collapse_@category.Id"
                            aria-expanded="false"
                            aria-controls="collapse_@category.Id"
                        >
                            @foreach(var item in category.Items)
                            {
                                    <div class="card flex-row flex-wrap my-4 mx-2 border-0">
                                    <div class="card-header">
                                        <img src="@item.MediaImagePath" class="card-img" alt="Media Type">
                                    </div>
                                    <div class="card-block px-2 py-2">
                                        <h5 class="card-title">                                        
                                            <a  class="text-dark" 
                                                asp-controller="Content" 
                                                asp-action="Index" 
                                                asp-route-CategoryItemId="@item.CategoryItemId"
                                            >
                                            @item.CategoryItemName
                                            </a>
                                        </h5>
                                        <p class="card-text text-secondary">@item.CategoryItemDescription</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center mt-5">
            <div class="alert alert-warning col-lg-10 col-md-8">
                Oops! You are not enrolled in any courses yet.
            </div>
            <div class="col-lg-2 col-md-4 text-center" >
                <a  class="btn btn-warning"
                    asp-controller="AvailableCategories"
                    asp-action="Index"
                >
                    Enroll
                </a>
            </div>
        </div>

    }

}
else
{
    <partial name="_DefaultHomePagePartial" model="@Model.Categories" />
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AuthScriptsPartial");
    }
}